<%- include("header", {title: title}); %>
<main>
    <h1>ABOUT</h1>

<p>Detta är en eshop som uppgift som ges i kursen databas på BTH. Jag som jobbat med denna heter Jennifer Lee och läser min andra termin på programmet Webbprogrammering på distans <a href="https://www.bth.se/utbildning/program/pagwg19h/">här</a>.</p>

Info about authors to eshop.
<table>
    <th>Name of author</th>
    <th>Part of eshop</th>
    <th>Info</th>

    <tr>
<% for (const a of about) { %>
        <td><%= a.author %></td>
        <td><%= a.part %></td>
        <td><%= a.info %></td>
    </tr>
<% }; %>
</table>
</main>
<%- include("footer"); %>
