<%- include("header", {title: title}); %>
<main>
    <h1>Log</h1>

<p>Show the latest 20 logs of triggers on table product. </p>

<table>
    <th>lognum</th>
    <th>id of the changed object</th>
    <th>when</th>
<th>what</th>
<th>title</th>
<th>info</th>
<th>price</th>
    <tr>
<% for (const l of log) {  %>
        <td><%= l.log %></td>
        <td><%= l.id %></td>
        <td><%= l.when %></td>
        <td><%= l.what %></td>
        <td><%= l.title %></td>
        <td><%= l.info %></td>
        <td><%= l.price %></td>
    </tr>
<% }; %>

<form method="post" action="/eshop/log-sorted">
</table>
<br>
<br>
<select type="number" name="num">
    <option value="null">show no of rows</option>
    <% for (x = 1; x <= log[0].log; x++) {%>
    <option>
        <%= x; %>
    </option>
    <% }; %>
</select>
<button type="submit" name="sort" value="SORT">
    SORT
</button>
</form>
<br>
<br>

<form method="post" action="/eshop/log-search-post">
<br>
<br>
<input type="text" name="search" value="Type search word"></input>

<button type="submit" value="Search">
    SEARCH</button>


</form>
<br>
<br>
<a href="/eshop/log/0">Show all</a>
</main>
<%- include("footer"); %>
