<%- include("header", {title: title}); %>

<main>

<h1>EDIT Product [<%= res.id %>]</h1>

<form method="post" action="/eshop/edit">
    <fieldset>
        <legend>EDIT PRODUCT </legend>
        <p>Details for account to be deleted</p>

        <label for="id">Id</label>
        <input id="id" type="text" name="id" readonly value="<%= res.id %>">
<br>
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="<%= res.title %>">
<br>
    <label for="info">Info</label>
    <input id="info" type="text" name="info" value="<%= res.info %>">
<br>
        <label for="price">Price</label>
        <input id="price" type="number" name="price"  value="<%= res.price %>">
<br>
<br>
        <label for="items">Add to categories</label>
    <% for (const c of cat) { %>
        <input type="checkbox" name="cat" value="<%= c.id %>"><%= c.cat %>
    <% }; %>
<br>
<br>
<br>
        <input type="submit" name="edit" value="UPDATE PRODUCT">


    </fieldset>
</form>



<br>
<li><a href="../products">Back to all products</a></li>
<br>
<li><a href="../add">Add a new product</a></li>


</main>
<%- include("footer"); %>
