<%- include("header", {title: title}); %>

<main>
<h1>Account details for <%= account %></h1>

<table>
    <tr>
        <th>Id </th>
        <th>Name </th>
        <th>Balance</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.id %></td>
        <td><%= row.name %></td>
        <td class="number-right"><%= row.balance %></td>
    </tr>
<% }; %>
</table>
<br>
<li><a href="../balance">Back to all accounts</a></li>
<br>
<li><a href="../create">Create a new account</a></li>



</main>
<%- include("footer"); %>
