<%- include("header", {title: title}); %>

<main>
<% res = res[0] %>

<h1>Edit account <%= res.id %></h1>

<form method="post" action="/bank/edit">
    <fieldset>
        <legend>EDIT ACCOUNT </legend>

        <label for="id">Id</label>
        <input id="id" type="text" name="id" readonly value="<%= res.id %>">
<br>
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="<%= res.name %>">
<br>
        <label for="balance">Balance</label>
        <input id="balance" type="number" name="balance" value="<%= res.balance %>">
<br>
<br>
        <input type="submit" name="doit" value="EDIT">


    </fieldset>
</form>



<br>
<li><a href="../balance">Back to all accounts</a></li>
<br>
<li><a href="../create">Create a new account</a></li>



</main>
<%- include("footer"); %>
