<%- include("header", {title: title}); %>

<main>
<h1>Account balance</h1>

<p>Here is the balance for the accounts.</p>

<table>
    <tr>
        <th>Id </th>
        <th>Name </th>
        <th>Balance</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.id %></td>
        <td><%= row.name %></td>
        <td class="number-right"><%= row.balance %></td>
    </tr>
<% }; %>
</table>

<br>
<br>
<a href="https://dbwebb.se/kunskap/koppla-appservern-express-till-databasen-mysql#resultsetvy">koden</a>

</main>
<%- include("footer"); %>
