<%- include("header", {title: title}); %>

<main>
<h1>ADMIN</h1>

<p>Edit / delete product</p>


<table>
    <tr>
        <th> Prod.ID </th>
        <th> Title </th>
        <th> Info </th>
        <th> Price </th>
        <th> In stock </th>
        <th> Admin</th>
    </tr>

<%
    for (var i = 0; i < res.length; i ++) { %>
        <tr>
            <td><%= res[i].id %></td>
            <td><%= res[i].title %></td>
            <td><%= res[i].info %></td>
            <td><%= res[i].price %></td>
            <td><%= res[i].items %></td>
            <td>
                <a href="/eshop/edit/<%= res[i].id  %>">
                    &#128394 ;
                </a>

                <a href="/eshop/delete/<%= res[i].id %>">
                    <i class="fa fa-trash-o"></i>
                </a>
        </tr>

<%    }; %>

</table>
<br>
<br>
<p>To add a product <a href="add">click here.</a></p>
</main>
<%- include("footer"); %>
