<%- include("header", {title: title}); %>

<main>
<h1>Customers</h1>

<table>
    <tr>
        <th> Customer ID</th>
        <th> Name</th>
        <th> Adress </th>
        <th></th>
    </tr>

<%
    for (i = 0; i < customers.length; i ++) { %>
        <tr>
            <td><%= customers[i].id %></td>
            <td><%= customers[i].name %></td>
            <td><%= customers[i].adress %></td>
            <td><%= customers[i].telefon %></td>
            <td><button>
                <a href="/eshop/orders/<%= customers[i].id  %>">
            ORDERS</a>
                </button>
        </tr>

<%    }; %>

</table>


</main>
<%- include("footer"); %>
